main {
    text-align: center;
}

p {
    font-size: x-large;
    color:#ff9654;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #59bfff;
  }
  tr:nth-child(odd) {
    background-color: #24abff;
  }